doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Situation Room
    link(rel="stylesheet" href="css/main.css")
  body
    script(type='text/javascript', src="js/main.js")
