<h2 class="mb-4 text-xl">Edit Site: <%= @site.name %></h2>

<%= render "form.html", Map.put(assigns, :action, Routes.site_path(@conn, :update, @site)) %>

<.button label="Back to My Sites" color="gray" link_type="a" to={Routes.sites_index_path(@conn, :index)} class="mt-6" />