<h2 class="mb-4 text-xl">New Site</h2>

<%= render "form.html", Map.put(assigns, :action, Routes.site_path(@conn, :create)) %>

<.button label="Back to My Sites" color="gray" link_type="a" to={Routes.site_path(@conn, :index)} class="mt-6" />
