form.site-form
  legend Enter a new site to check.
  table
    tr
      td: label URL:*
      td: input(type='url', class='url')/
    tr
      td: label Email:
      td: input(type='email', class='email')/
    tr
      td: input(type='submit', value='Submit')/
p.required * Required
span.error Please fill out empty required field(s).
