#app
  h2 Situation Room - like <a href='https://www.pingdom.com/'>pingdom</a>, but with more cachet.
  nav <a href="/">Home</a> | <a href="#sites/new">Enter New Website</a> | <a href="#sites">Show Sites</a>
  #content
