*
  font-family: Arial, Helvetica, sans-serif

#app
  text-align: center
  font-size: 25px

nav
  margin-bottom: 5%

#content form label
  width: 60px
  float: left
  clear: left

a
  text-decoration: none

  &:hover
    text-decoration: underline

ul
  list-style-type: none

#site-table, #status-table
  text-align: center
  border-collapse: collapse
  margin: 0 auto

  & th
    text-decoration: underline

  & td
    padding: 1em

form
  & input
    font-size: 1em
  & legend
    margin: 0 auto
    font-weight: bold
  & table
    margin: 0 auto

.error
  color: #f00
  display: none

.form-error
  border: 2px solid #f00

.required
  font-size: 0.75em
